body {
    background-color: #fff;
    margin: 0;
}
a {
    text-decoration: none !important;
}
.topnav {
  overflow: hidden;
  background-color: #244d76;
  position: relative;
}
.topnav #myLinks {
     display: none;
}
.topnav a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    bottom: -8px;
    color: #fff;
}
.topnav a:hover {
    color: #fff;
}
.active {
    background-color: #042541;
    color: white;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}
nav {
    display: none;
}
nav a {
    margin: 3px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}
nav a:hover {
    color: #fff !important;
}
.highlight {
    color: #333 !important;
}

.GR-background {
    max-width:1800px; 
    width: 100%;
}
.tagline {
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto;
    text-align:center;
    font-size: 10px;
    padding: 50px;
}
.crew {
   padding: 50px;
    display: inline-block;
}
.crew img{
    max-width: 800px;
    display: inline-block;
    float:left;
}
.crew-text {
    display: inline-block;
    float:right;
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto;
    text-align:center;
    font-size: 10px;
    padding: 200px 50px 50px 0px;
}

/* SMALLER SCREEN CSS */
@media only screen and (min-width: 600px) {
.topnav {
        display:none;
    }
nav {
    width:100%;
    background-color: #042541;
    text-align:right;
    margin: 0 auto;
    padding: 50px 0;
    display:inherit;
}
nav a {
    margin: 50px;
    font-size: 25px;
}
.crew {
   padding: 150px 200px;
}
.crew-text {
    font-size: 40px;
    width: 35%;
}
}

/* LARGER SCREEN CSS */

@media only screen and (min-width: 1400px) {
.tagline {
    font-size: 40px;
    padding: 200px;
}
.GR-background {
    max-width:2400px; 
    width: 100%;
}

.IST-6 {
    position: absolute;
    top:25%;
    left:36%;
    width:12%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
.MHR-5 {
    position: absolute;
    top:25%;
    left:48%;
    width:15%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
.TER-1 {
    position: absolute;
    top:35%;
    left:65%;
    width:18%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
.CONTROL {
    position: absolute;
    top:50%;
    left:50%;
    width:12%;
    min-width:200px;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
.COM-4 {
    position: absolute;
    top:68%;
    left:38%;
    width:20%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
.DMI-2 {
    position: absolute;
    top:72%;
    left:53%;
    width:15%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}   
.SUP-3 {
    position: absolute;
    top:63%;
    left:62%;
    width:20%;
    margin: -100px 0 0 -100px;
    cursor:pointer;
}
}



