body {
    background-color: #fff;
    margin: 0;
}
a {
    text-decoration: none !important;
}
h1 {
    font-family: 'Do Hyeon', sans-serif;
    color: #fff;
    width:100%;
    box-sizing: border-box;
    font-size: 30px;
}
p {
    font-family: 'Abel', sans-serif;
    line-height: 1.5;
    color: #fff;  
    text-align: center !important;
    font-weight: bold; 
    padding: 0 30px;
    font-size: 20px;
}
b {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    padding: 0 0 10px;
    text-align: left !important;
    color: #fff; 
}
.topnav {
  overflow: hidden;
  background-color: #072440;
  position: relative;
}
.topnav #myLinks {
     display: none;
}
.topnav a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    bottom: -8px;
    color: #fff;
}
.topnav a:hover {
    color: #fff;
}
.active {
    background-color: #042541;
    color: white;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}
nav {
    display: none;
}
nav a {
    margin: 3px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
}
nav a:hover {
    color: #fff !important;
}
.highlight {
    color: #333 !important;
}

.GR-background {
    max-width:1800px; 
    width: 100%;
}
.login-strip img{
    max-width:2500px; 
    width: 100%;
}
.tagline {
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto;
    text-align:center;
    padding: 50px;
    font-size: 25px;
}

.crew {
    padding: 50px;
    display: inline-block;
}
.crew img{
    display: block;
    width: 100%;
}
.crew-text {
    display: inline-block;
    float:right;
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto 25px;
    text-align:center;
    font-size: 25px;
    padding: 0;
}
.planet {
    padding: 50px;
    display: inline-block;
}
.planet img{
    display: block;
    width: 100%;
}
.planet-text {
    display: inline-block;
    float:right;
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto 25px;
    text-align:center;
    font-size: 25px;
    padding: 0;
}
.entry-img {
    margin: 0 auto;
    max-width: 1500px;
    text-align:center;     
    }
.entry-img img {
    width: 100%;
    opacity:0.15;
}

.IST-6 {
    position: absolute;
    top:5%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}
.MHR-5 {
    position: absolute;
    top:35%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}
.TER-1 {
    position: absolute;
    top:52%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}
.CONTROL {
    position: absolute;
    top:65%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}
.COM-4 {
    position: absolute;
    top:82%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}
.DMI-2 {
    position: absolute;
    top:90%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}   
.SUP-3 {
    position: absolute;
    top:108%;
    left:35%;
    width:30%;
    margin: 0px;
    cursor:pointer;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.crew-login {
    margin: 0 auto;
    display: inline-block;
    padding: 10px 30px;
}
.indiviual-login {
    display: inline-block;
    position: relative;
    padding: 20px;
}
.indiviual-login img {
    max-width:300px; 
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-top: 10px solid #fab420;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
}
.indiviual-login:hover img {
    opacity: 0.3;
}
.indiviual-login:hover .middle {
    opacity: 1;
}
.text {
    background-color: #fab420;
    color: white;
    font-size: 20px;
    padding: 16px;
    display: inline-block;
    font-family: 'Abel', sans-serif; 
}

.loginpage {
    background-color: rgba(15, 15, 21, 0.85);
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 5%;
}
.enterbutton{
    background-color: #80b370;
    color: white;
    padding: 14px 20px;
    margin: 10px 0 30px;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    text-align: center;
}
input {
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    padding: 0 0 10px;
    color: #80b370;
    text-align: left !important;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content {
  background-color: #333;
  margin: 5px auto; 
  border: 10px solid #222;
  width: 80%; 
}
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #80b370;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
form {
  border: 3px solid #f1f1f1;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px solid #444;
  box-sizing: border-box;
  background-color: #333;
}
.loginbutton {
    background-color: #80b370;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: fit-content;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
}
button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 44px 0 12px 0;
}
img.avatar {
  width: 20%;
}
.avatar {
    width:100%;
}
.container {
  padding: 16px;
}

.welcome {
    background-color: #4b80a7;
}
.fade-in {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}
.button {
    color: #80b370;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
    font-size:24px;
    border:2px solid #80b370;
    margin: 0px auto;
    padding: 10px 20px;
    background-color: transparent;
    text-align:center;
    cursor:pointer;
}
.button:hover {
    background-color: #80b370;
    color: #fff;   
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
    0% {
    opacity:0;
  }
  100% {
      opacity:1;}}

/************ SMALLER SCREEN CSS ************/
@media only screen and (min-width: 800px) {
.topnav {
        display:none;
    }
nav {
    width:100%;
    background-color: #072440;
    text-align:right;
    margin: 0 auto;
    padding: 30px 0;
    display:inherit;
}
nav a {
    margin: 30px;
    font-size: 20px;
}
.login-strip {        
    margin-top: 75px;
    }
.tagline {
    font-size: 30px;
    padding: 100px;
}
.crew img {
    float: left;
    margin: 50px auto 0;
    display: inline-block;
    max-width: 500px;
    width: 100%;
}
.crew-text {
    font-size: 30px;
    width: 40%;
    margin: 75px auto 0;
    padding: 100px 0px 50px 0px;
}
.planet img {
    float: right;
    margin: 50px auto 0;
    display: inline-block;
    max-width: 500px;
    width: 100%;
}
.planet-text {
    float: left;
    font-size: 30px;
    width: 40%;
    margin: 75px auto 0;
    padding: 100px 0px 50px 0px;
}
.IST-6 {
    position: absolute;
    top:25%;
    left:36%;
    width:12%;
    margin: 0px 0 0 -200px;
    cursor:pointer;
}
.MHR-5 {
    position: absolute;
    top:25%;
    left:48%;
    width:15%;
    margin: -100px 0 0 -200px;
    cursor:pointer;
}
.TER-1 {
    position: absolute;
    top:35%;
    left:65%;
    width:18%;
    margin: -50px 0 0 -150px;
    cursor:pointer;
}
.CONTROL {
    position: absolute;
    top:50%;
    left:50%;
    width: 15%;
    margin: -150px 0 0 -150px;
    cursor:pointer;
}
.COM-4 {
    position: absolute;
    top:68%;
    left:38%;
    width:20%;
    margin: -150px 0 0 -200px;
    cursor:pointer;
}
.DMI-2 {
    position: absolute;
    top:72%;
    left:53%;
    width:15%;
    margin: -150px 0 0 -150px;
    cursor:pointer;
}   
.SUP-3 {
    position: absolute;
    top:63%;
    left:62%;
    width:20%;
    margin: -150px 0 0 -100px;
    cursor:pointer;
}
  
.crew-login {
        padding: 30px;
    }
.indiviual-login {
        padding: 10px;
    }
.indiviual-login img {
        max-width: 150px; 
    }
.text {
    font-size: 14px;
}
    
h1 {
    font-size: 40px;   
    }
p {
    font-size: 30px;
    }
.loginpage {
    top: 150px;
    left: 30%;
    width: 40%;
    }
}
/************ LARGER SCREEN CSS ************/

@media only screen and (min-width: 1400px) {
nav a{
    font-size: 30px;
}
.GR-background {
    max-width: 2800px; 
    width: 100%;
}
.tagline {
    font-size: 40px;
    padding: 100px 200px 200px;
}
.crew {
   padding: 50px 150px;
}
.crew img {        
    max-width: 700px;
    float:left;
    }
.crew-text {
    display: inline-block;
    float:right;
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto;
    text-align:center;
    font-size: 40px;
    width: 40%;
    padding: 300px 0px 50px 0px;
}
.planet {
   padding: 50px 150px;
}
.planet img {        
    max-width: 700px;
    float:right;
    }
.planet-text {
    display: inline-block;
    float:left;
    font-family: 'Abel', sans-serif;
    color: #333;
    margin: 0 auto;
    text-align:center;
    font-size: 40px;
    width: 40%;
    padding: 200px 0px 50px 0px;
}

.IST-6 {
    position: absolute;
    top:20%;
    left:36%;
    max-width:12%;
    margin: 0px 0 0 -200px;
    cursor:pointer;
}
.MHR-5 {
    position: absolute;
    top:20%;
    left:48%;
    width:15%;
    margin: -100px 0 0 -200px;
    cursor:pointer;
}
.TER-1 {
    position: absolute;
    top:30%;
    left:65%;
    width:18%;
    margin: -50px 0 0 -150px;
    cursor:pointer;
}
.CONTROL {
    position: absolute;
    top:45%;
    left:50%;
    width: 15%;
    margin: -50px 0 0 -150px;
    cursor:pointer;
}
.COM-4 {
    position: absolute;
    top:65%;
    left:38%;
    width:20%;
    margin: 0px 0 0 -200px;
    cursor:pointer;
}
.DMI-2 {
    position: absolute;
    top:70%;
    left:53%;
    width:15%;
    margin: 50px 0 0 -150px;
    cursor:pointer;
}   
.SUP-3 {
    position: absolute;
    top:60%;
    left:62%;
    width:20%;
    margin: 0px 0 0 -100px;
    cursor:pointer;
}
    
.indiviual-login img {
    margin-top: 50px;
    max-width:170px; 
}
.text {
    font-size: 16px;
} 
    
.loginpage {
    top: 200px;
    left: 30%;
    width: 40%;
}    
}



